.card-actions {
  display: flex;
  justify-content: flex-end;
}

.mat-mdc-header-row{
  background-color: #767676; 
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; 
  display: flex;
}

.card-content {
  margin-bottom: 24px; 
}

.table-container {
  overflow-x: auto; 
  width:100%
}

.mat-table {
  width: 100%;
  display: table; /* Override default flex display */
}

.mat-header-cell, .mat-cell {
  padding: 0 16px; /* Add some padding for better spacing */
}

/* Ensure columns distribute space evenly */
.mat-column-id {
  width: 5%;
}

.mat-column-title {
  width: 20%;
}

.mat-column-category {
  width: 15%;
}

.mat-column-amount {
  width: 15%;
}

.mat-column-date {
  width: 20%;
}

.mat-column-actions {
  width: 25%;
  text-align: right;
}

.card {
  padding-bottom: 24px; 
}

.expense-table {
  width: 100%;
  min-width: 100%;
  margin: 0;
  table-layout: auto;
}

#edit-button {
  margin-right: 16px;
  align-items: center;
}

.action-buttons {
  justify-content: flex-start; 
  align-items: center;      
  gap: 8px;  
}               

#delete-button {
  background-color: #f44336;
  min-width: 0;
}

#add-expense-button {
  background-color: #4CAF50;
  min-width: 0;

}

@media screen and (max-width: 600px) {
  
  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .action-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  #edit-button, #delete-button, #add-expense-button {
    width: 100%;
    margin-bottom: 8px;
  }

  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .action-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  #edit-button, #delete-button, #add-expense-button {
    width: 100%;
    margin-bottom: 8px;
  }
  
}
