<div class="dashboard-content">
    <section class="dashboard-section">
      <h2 class="section-title">Expense Overview</h2>
      
      <div class="stats-grid">
        
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Total Amount</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="stat-value">{{ totalAmount | currency:'NGN':'symbol':'1.0-0' }}</div>
            <mat-icon class="stat-icon">₦</mat-icon>
          </mat-card-content>
        </mat-card>

        <!-- Total Items Card -->
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Total Items</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="stat-value">{{ totalItems }}</div>
            <mat-icon class="stat-icon">list_alt</mat-icon>
          </mat-card-content>
        </mat-card>

        <!-- Total Categories Card -->
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Total Categories</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="stat-value">{{ totalCategories }}</div>
            <mat-icon class="stat-icon">category</mat-icon>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="recent-expenses" hidden>
          <h3 class="subtitle">Recent Expenses</h3>


      </div>
    </section>
</div>


