.card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#add-category-button{
    margin-right: 8px;
    background-color: #4CAF50;
    color: white;
}

.add-category-card{
    margin: auto;
    max-width: 360px;
    margin-top: 30px;
}

#add-category-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#save-category-button {
    background-color: #4CAF50;
    color: white;
}
#back-to-category-button {
    margin-left: 8px;
    background-color: #f44336;
    color: white;
}


@media (max-width: 768px) {
    .categories-page {
        flex-direction: column;
    }
}

