<mat-card *ngIf="mode === 'list'" class="budget-card">
  <mat-card-header class="card-header">
    <mat-card-title>Expense Budgets</mat-card-title>
    <button mat-flat-button id="add-budget-button" (click)="showAddBudget()">Add Budget</button>
  </mat-card-header>
  <mat-card-content class="card-content">
    <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="budget-table table" >

      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let budget; let i = index">{{ i + 1 }}</td>
      </ng-container>
      
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let budget"><a href="#" (click)="showBudgetDetails(budget); $event.preventDefault()">{{ budget.title }}</a></td>
      </ng-container>  
      
      <ng-container matColumnDef="total-amount">
        <th mat-header-cell *matHeaderCellDef> Budget Amount </th>
        <td mat-cell *matCellDef="let budget"> {{ budget.amount }} </td>
      </ng-container>

      <ng-container matColumnDef="spent-amount">
        <th mat-header-cell *matHeaderCellDef> Spent Amount </th>
        <td mat-cell *matCellDef="let budget"> {{ budget.spentAmount }} </td>  
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let budget">
          <span [ngClass]="{
            'status-active': budget.remainingAmount > 0,
            'status-exceeded': budget.remainingAmount <= 0
          }">
            {{ budget.remainingAmount > 0 ? 'Within Budget' : ' Budget Exceeded' }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="remaining-amount">
        <th mat-header-cell *matHeaderCellDef> Remaining Amount </th>
        <td mat-cell *matCellDef="let budget"> {{ budget.remainingAmount }} </td>
      </ng-container>
    
      <ng-container matColumnDef="start-date">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let budget"> {{ budget.startDate }} </td>
      </ng-container>

      <ng-container matColumnDef="end-date">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let budget"> {{ budget.endDate }} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration </th>
        <td mat-cell *matCellDef="let budget"> {{ budget.duration }} </td>
      </ng-container>
        
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let budget" class="action-buttons">
          <button mat-flat-button id="edit-button" [routerLink]="['/edit', budget.id]">Edit</button>
          <button mat-flat-button id="delete-button" (click)="deleteBudget(budget.id)">Delete</button>
        </td> 
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>
  </mat-card-content>

  <mat-card-actions class="card-actions">
    <mat-paginator  [length]="totalItems" [pageSize]="10" showFirstLastButtons [pageSizeOptions]="[5, 10, 15, 20]" (page)="onPageChange($event)">
    </mat-paginator>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="mode === 'view' && selectedBudgetId">
  <mat-card-header>
    <mat-card-title>Budget Details: {{ selectedBudgetId()?.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="budget-details-header">
    <p><strong>Amount:</strong> {{ selectedBudgetId()?.amount }}</p>
    <p><strong>Spent:</strong> {{ selectedBudgetId()?.spentAmount }}</p>
    <p><strong>Remaining:</strong> {{ selectedBudgetId()?.remainingAmount }}</p>
    <p><strong>Start Date:</strong> {{ selectedBudgetId()?.startDate }}</p>
    <p><strong>End Date:</strong> {{ selectedBudgetId()?.endDate }}</p>
    <p><strong>Duration:</strong> {{ selectedBudgetId()?.duration }}</p>
    </div>
    <table mat-table [dataSource]="expenseDataSource" class="expense-table">
      
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let expense; let i = index">{{ i + 1 }}</td>
      </ng-container>
      
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let expense">{{ expense.title }}</td>
      </ng-container>
      
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let expense">{{ getCategoryTitle(expense.categoryId) }}</td>
      </ng-container>
      
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let expense">{{ expense.date }}</td>
      </ng-container>
      
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let expense">{{ expense.amount }}</td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let expense">
          <button mat-button color="warn" (click)="deleteExpense(expense.id)">Delete</button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="expenseColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: expenseColumns;"></tr>
    </table>
    <button mat-button (click)="showBudgetList()">Back to List</button>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="mode === 'add'" class="add-budget-card">
  <mat-card-header id="add-budget-header">
    <mat-card-title>{{ isEditMode ? 'Edit Budget' : 'Add Budget' }}</mat-card-title>
  </mat-card-header>
  <mat-card-content id="add-budget-content">
    <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Budget Title</mat-label>
          <input matInput formControlName="title" required>
          <mat-error *ngIf="budgetForm.get('title')?.hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount" required>
          <mat-error *ngIf="budgetForm.get('amount')?.hasError('required')">
            Amount is required
          </mat-error>
          <mat-error *ngIf="budgetForm.get('amount')?.hasError('min')">
            Amount must be greater than 0
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate" required>
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
          <mat-error *ngIf="budgetForm.get('startDate')?.hasError('required')">
            Start date is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate" required>
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
          <mat-error *ngIf="budgetForm.get('endDate')?.hasError('required')">
            End date is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="action-buttons">
        <button mat-raised-button color="primary" type="submit" [disabled]="budgetForm.invalid">
          {{ isEditMode ? 'Update Budget' : 'Add Budget' }}
        </button>
        <button mat-flat-button color="warn" type="button" (click)="showBudgetList()">Back to List</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>