<div class="dashboard-content">
    <section class="dashboard-section">
      <h2 class="section-title">Expense Overview</h2>
      
      <div class="stats-grid-1">
        
        <mat-card class="stat-card">
          <mat-card-header>
            <mat-card-title>Total Amount</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="stat-value">{{ totalAmount | currency:'NGN':'symbol':'1.0-0' }}</div>
            <mat-icon class="stat-icon">₦</mat-icon>
          </mat-card-content>
        </mat-card>

        
        <mat-card class="stat-card" (click)="navigateToExpenses()" matTooltip="Click to view expenses">
          <mat-card-header>
            <mat-card-title>Total Items</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="stat-value">{{ totalItems }}</div>
            <mat-icon class="stat-icon">list_alt</mat-icon>
          </mat-card-content>
        </mat-card>

                
        <mat-card class="stat-card" (click)="navigatetoCategories()" matTooltip="Click to view categories">
            <mat-card-header>
            <mat-card-title>Used Categories</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="stat-value">{{ totalCategories }}</div>
            <mat-icon class="stat-icon">category</mat-icon>
          </mat-card-content>
        </mat-card>
      
      </div>
      <div class="stats-grid-2">
        
        <mat-card class="stat-card" (click)="navigateToBudgets()" matTooltip="Click to view budgets">
          <mat-card-header>
            <mat-card-title>Total Budget</mat-card-title>
          </mat-card-header>
          <mat-card-content>
          <div class="left-align">
            <div class="stat-value">{{ totalBudgets}}</div>
            <mat-icon class="stat-icon">account_balance_wallet</mat-icon>
          </div>
          <div class="right-align">
            <table class="mini-budget-table table">
              <thead>
                <tr>
                  <th>Budget Name</th>
                  <th>Amount</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let budget of budgets" >
                  <td>{{ budget?.title }}</td>
                  <td>{{ budget?.amount | currency:'NGN':'symbol':'1.0-0' }}</td>
                  <td>
                    <span class="budget-status"
                      [ngClass]="{
                        'budget-exceeded': (budget?.spentAmount ?? 0) > (budget?.amount ?? 0),
                        'budget-within-limit': (budget?.spentAmount ?? 0) <= (budget?.amount ?? 0)
                      }">
                      {{ (budget?.spentAmount ?? 0) > (budget?.amount ?? 0) ? 'Exceeded' : 'Within Limit' }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          </mat-card-content>
        </mat-card>

      <div class="recent-expenses" hidden>
          <h3 class="subtitle">Recent Expenses</h3>


      </div>
      </div>
    </section>
</div>


